* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(23, 24, 24);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#myCanvas {
  background-color: rgb(0, 0, 0);
  border: 5px solid green;
  border-left: 5px solid red;

  box-shadow: 0 0 20px rgb(10, 82, 14);
  position: absolute;
  transition: all 2s;
}

.score h2 {
  position: relative;
  top: 10px;
  right: 100px;
  z-index: 1;
}

.circle {
  position: relative;
  top: 200px;
  left: 200px;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  background-color: rgb(29, 1, 1);
}

.popup-window {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: auto;
  height: auto;
  margin: auto;
  position: fixed;
  z-index: 2;
  background: rgb(123, 6, 128);
  box-shadow: 10px 10px rgb(41, 11, 58);
}

.popup-window h2 {
  font-size: 4rem;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  color: rgb(172, 172, 172);
}

.btn {
  font-size: 2rem;
  padding: 1rem 2rem;
  border: none;
  color: #ccc;
  background-color: rgb(63, 10, 56);
}

.btn:hover {
  opacity: 0.8;
}

.test {
  background-color: rgb(211, 70, 70);
}
